.WebPageTitle{
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  font-weight: 800;
  color: white;
  text-shadow: orange 0 0 10px;
}
.App-intro {
  font-size:x-large;
  font-weight:700;
  color: rgb(37, 37, 37);
}
.aside-container{
  position: relative;
  width: 100vw;
  bottom: 0;
  padding: 0.2rem;
  
  justify-content: flex-end;
  display: block;
  background: #010111;
  color: #fff;
}
.aside-container h3{
  display: block;
  color: orange;
}
.App {
  text-align: center;
}

.App-logo {
  margin: 5px;
  margin-bottom: 15px;
  
}
@media screen and (max-width:768px) {
  .App-logo{
    margin-bottom: 5px;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: orange;
}

.App-link {
  color: orange;
}

body {
  background: linear-gradient(90deg, #007aa9a6, #b708ff94);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes Welcome {
  from {
    transform: scale(115%);
    color: orange;
  }
  50% {
    transform: scale(100%);
    color: #fff;

  }
  to {
    transform: scale(115%);
    color: orange;

  }
}

.Blog-body h2 {
  font-size: 2em;
  font-weight: bold;
  color: #080808;
}

.Blog-body img {
  border-radius: 10px;
  border: 3px solid blueviolet;
}